/*
color   1A120B
color   #3C2A21
ab633f

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Gothic A1', sans-serif;
    transition: all .2s linear;
}

.seccontent{
    padding: 2rem 9%;
    display: flex;
}

html, body{
    margin: 0;
    height: 100%;
    min-height: 100%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: #3C2A21;
}

#header, footer{
    flex:none;
}

main{
    overflow-y: scroll;
    -webkit-overflow-srolling: touch;
    flex: auto;
}

p{
    font-size: 16px;
    color: #1A120B;
    margin: 15px 0 20px 0;
}

#header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    background-color: #D9D9D9;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

#header #mainlogo{
    font-size: 2.5rem;
}

.navbar{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0;
}

.navbar li{
    height: 100%;
    list-style: none;
    margin: 0px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    height: 100%;
    color:#1A120B;
}

#header .icons div{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    background:#3C2A21;
    color: #D9D9D9;
    font-size: 1.5rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

#header .icons div:not(#loginbutton):hover{
    background: #D9D9D9;
    color: #703C22;
}

#menu-btn{
    display: none;
}

#loginbutton{
    background-color: #3C2A21; /* Green */
    height: 3.5rem;
    color: #D9D9D9;
    line-height: 3.5rem;
    padding: 0px 20px ;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid #3C2A21;
}

.navbar li:not(.cart-icon):after{
    content: "  ";
    position: absolute;
    background-color: #1A120B;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.3s ease;
}

.navbar li:hover{
    background-color: #3C2A21;
    transition: 0.3s ease;
}

.navbar li:hover > a{
    color:#D9D9D9;
    font-size: 16px;
    transition: 0.3s ease;
}

.navbar li:hover:after{
    width: 100%;
}

#loginbutton:hover{
    border: 2px solid #3C2A21;
    background-color: #D9D9D9;
    font-weight: 800;
    color: #3C2A21;
    transition: 0.3s ease;
}


/*footer*/
.footer{
    position: static;
    display: flex;
    z-index: 100000;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    color:#D9D9D9;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    padding: 8px 100px 0px 100px;
    background-color: #703C22;
}


.left-note{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.right-note{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer p{
    font-size: 10px;
    color:#D9D9D9;
}

.footer a{
    color:#D9D9D9;
}


/*************************************HOME**********************************/
/*************************************HOME**********************************/
/*************************************HOME**********************************/


main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-image{
    background-color: #3C2A21;
    padding: 0px 100px;
    width: 100%;
}

.carousel-label{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: auto;
    bottom: auto;
    background-color: #3C2A21;
    width: 100%;
}

.homecontent{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#carouselExampleIndicators{
    display: block;
}

/* TO GO or DELIVER */
#tgrdel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #703C22;
    gap: 10px;
    width: 100%;
}

#tgrdeltext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 550px;
    gap: 10px;
    width: 40%;
    color: #D9D9D9;
}

#tgrdeltext p{
    color: #D9D9D9;
    text-align: justify;
    font-weight: 600;
}


#tgrdeltext button{
    padding: 10px 30px;
    border: 2px solid #3C2A21;
    background-color: #D9D9D9;
    font-weight: 800;
    color: #3C2A21;
}

#home-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-about-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1.2rem;
    padding: 10rem 9%;
    height: 100%;
    width: 50%;
}

#haboutus{
    background-image: url('../images/banners/haboutus.png');
    background-color: #3C2A21;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#anyquestions{
    background-image: url(../images/banners/anyquestions.png);
    background-color: #3C2A21;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.home-about-container h1{
    color:  #E5E5CB;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3.2px;
}

.home-about-container p{
    color:  #E5E5CB;
    font-size: 16px;
    letter-spacing: 1.6px;
}

#Viewmore{
    border: 3px solid #D5CEA3;
    color: #D5CEA3;
    background-color: transparent;
    padding: 10px;
    justify-content: center;
    align-items: center;
}






/*************************************END HOME**********************************/
/*************************************END HOME**********************************/
/*************************************END HOME**********************************/


/*************************************JOBS**********************************/
/*************************************JOBS**********************************/
/*************************************JOBS**********************************/

#bar{
    height: 80px;
    width: 100%;
    background-color: #703C22;
}

#jobscontent{
    background-color: #D5CEA3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#jobstext{
    min-width:  200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

#jobscontent img{
    width: auto;
    height: auto;
}

#jobstext p{
    text-align: justify;
    letter-spacing: 1.6px;
    font-weight: 600;
}

#jobstext h2{
    color: #1A120B;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}


#jobstext h1{
    color: #3C2A21;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2.8px;
}

#jobapplication{
    width: 100%;
    font-size: 16px;
    color:#D9D9D9;
    background-color: #703C22;
    padding: 10px 0px 10px 10px;
}

#jobapplication a{
    color:#D9D9D9;
    text-decoration: none;
    font-weight: 800;
}

#jobsimage{
    flex: 1 0 0;
    align-self: cover;
    border: 3px solid var(--secondary, #703C22);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 550px;
}

/*************************************END JOBS**********************************/
/*************************************END JOBS**********************************/
/*************************************END JOBS**********************************/




/*************************************ABOUT**********************************/
/*************************************ABOUT**********************************/
/*************************************ABOUT**********************************/


.content-column-center{
    padding: 12rem 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#aboutus{
    background-color: #3C2A21;
    gap: .5rem;
}

#aboutus p{
    font-size: 16px;
    color: #E5E5CB;
    font-weight: 600;
    font-family: 'Gothic A1', sans-serif;
}

#aboutus h2{
    font-size: 28px;
    font-weight: 800;
    color: #E5E5CB;
    letter-spacing: 3.5px;
    font-weight: 600;
    letter-spacing: 2px;
}

#our-mission{
    background-color: #D5CEA3;
    gap: .5rem;
}

#our-mission p{
    font-size: 16px;
    color: #703C22;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
}

#our-mission h1{
    font-size: 30px;
    font-weight: 800;
    color: #703C22;
    letter-spacing: 5px;
}

#the-background{
    background: linear-gradient(0deg, rgba(60, 42, 33, 0.60) 0%, rgba(60, 42, 33, 0.60) 100%), url('../images/banners/background.png'), lightgray 50% / cover no-repeat;
    gap: .5rem;
}

#the-background h2{
    font-size: 30px;
    font-weight: 800;
    color: #D5CEA3;
    letter-spacing: 3px;
}

#the-background p{
    font-size: 16px;
    color: #E5E5CB;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px; 
}

#founders{
    padding: 8rem 9%;
    background-color: #3C2A21;
    gap: 2rem;
}

#founders p{
    font-size: 16px;
    color: #E5E5CB;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px; 
}

#founders h1{
    font-size: 30px;
    font-weight: 800;
    color: #E5E5CB;
    letter-spacing: 5px;
}

#image-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    flex-direction: row;
}



.f p{
    font-size: 16px;
    color: #E5E5CB;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px; 
}

.f img{
    align-items: center;
    border-radius: 1000px;
    width: 20rem;
}

#founders .f .name{
    font-weight: 1000;
}


/*************************************CONTACT**********************************/
/*************************************CONTACT**********************************/
/*************************************CONTACT**********************************/

#contus {
    background-color: #D5CEA3;
    gap: 2rem;
}

#contus h1{
    color:  #3C2A21;
    font-size: 32px;    
    font-weight: 800;
    letter-spacing: 3.2px;
}


.contact-items{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
}

.contact-items img{
    width: 50px;
    height: 50px;
}

.contact-items div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-form{
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: #D5CEA3;
}


#cform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

#cform h2{
    color: #3C2A21;
    font-size: 24px;
    font-weight: 800;
}

.contact-input{
    border: 4px solid  #703C22;
    padding: 8px 20px;
    background:  #D5CEA3; 
    font-size: 16px;
    color:#1A120B;  
}

#cform button{
    font-size: 16px;
    color:#D9D9D9;
    font-weight: 800;
    background-color: #703C22;
    padding: 10px 0px 10px 10px;
}






/*************************************END**********************************/
/*************************************END**********************************/
/*************************************END**********************************/



@media(max-width: 991px){

    

    #menu-btn{
        display: inline-block;
    }

    #header .navbar{
        position: absolute;
        top: 100%; right: -110%;
        width: 30rem;
        height: auto;
        margin: 0;
        background-color: #D9D9D9;
        transition: 0.3s ease;
    }

    .navbar li{
        top: auto;
        background-color: #D9D9D9;
        height: 100%;
        list-style: none;
        position: relative;
        width: 100%;
        transition: 0.3s ease;
        padding: 20px;
    }

    #header .navbar.active{
        right: 0px;
    }

    #header .navbar li{
        margin: 2rem 2.5rem;
    }

    #jobscontent{
        flex-direction: row;
    }

    #contact-form{
        flex-direction: column;
        gap: 20px;
    }


}



@media(max-width: 620){
    html{
        font-size: 55%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-note{
        align-items: center;
    }

    .right-note{
        align-items: center;
    }
    
}




/*
D5CEA3
@media (max-width: 990px){

    #navbar{
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color: #D9D9D9;
        box-shadow: 0 40px 60px rgba(0,0,0,0.06);
        padding: 80px 0px 0px 10px;
        transition: 0.3s ease;
    }

    #navbar li > .cart-icon{
        visibility: none;
    }


    #header div{
        height: 100%;
        width: 100%;
        transition: 0.3s ease;
    }

    #mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    #mobile i{
        color:#1A120B;
        font-size: 30px;
        padding-left: 20px;
    }

    #loginbutton{
        width: 100%;
    }

    #navbar.active{
        right: 0px;
    }
    
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #1A120B;
        font-size: 24px;
    }

    .class-icon{
        display: none;
    }

    #close{
        display: block;
    }

    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .left-note{
        align-items: center;
    }

    .right-note{
        align-items: center;
    }
}
*/