/*
color   1A120B
color   #3C2A21
ab633f

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #1A120B;
}

h2{
    font-size: 45px;
    line-height: 54px;
    color: #1A120B;
}

body{
    width: 100%;
}

p{
    font-size: 16px;
    color: #1A120B;
    margin: 15px 0 20px 0;
}

#header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background-color: #D9D9D9;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

#navbar{
    display: flex;
    height: 60px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0;

}

#header div{
    height: 100%;
}

#navbar li{
    height: 100%;
    list-style: none;
    margin: 0px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    position: relative
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1A120B;
}

#loginbutton{
    background-color: #3C2A21; /* Green */
    border: none;
    color: #D9D9D9;
    padding: 5px 30px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#navbar li:not(.cart-icon):after{
    content: "  ";
    position: absolute;
    background-color: #1A120B;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.3s ease;
}

#mobile{
    display: none;
    align-items: center;

}

#navbar li:not(.cart-icon):hover{
    background-color: #3C2A21;
    transition: 0.3s ease;
}

#navbar li:not(.cart-icon):hover > a{
    color:#D9D9D9;
    font-size: 18px;
    transition: 0.3s ease;
}

.cart-icon > a svg:hover{
    fill: #3C2A21;
    transform: scale(1.3);
    transition: 0.3s ease;
}

#navbar li:hover:after{
    width: 100%;
}

#loginbutton:hover{
    border: 2px solid #3C2A21;
    background-color: #D9D9D9;
    font-weight: 800;
    color: #3C2A21;
    transition: 0.3s ease;
}

#close{
    display:none;
}


/*D5CEA3*/
@media (max-width: 990px){
    #header{
        height: 60px;
    }

    #navbar{
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: -14px;
        right: -300px;
        height: 100vh;
        width: 200px;
        box-shadow: 0 40px 60px rgba(0,0,0,0.06);
        padding: 80px 0px 0px 10px;
        transition: 0.3s ease;
    }

    #navbar li{
        margin-bottom: 25px;
        height: auto;
        list-style: none;
        position: relative;
        width:100%;
        transition: 0.3s ease;
    }

    #navbar li > .cart-icon{
        visibility: none;
    }


    #header div{
        height: 100%;
        width: 100%;
        transition: 0.3s ease;
    }

    #mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    #mobile i{
        color:#1A120B;
        font-size: 30px;
        padding-left: 20px;
    }

    #loginbutton{
        width: 100%;
    }

    #navbar.active{
        right: 0px;
    }

    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #1A120B;
        font-size: 24px;
    }

    #carte{
        display: none;
    }

    #close{
        display: block;
    }
}